body{
 background-color: rgb(255, 255, 255);
 font-size: 15pt;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgb(29, 26, 26);
    font-weight: bolder;
    color: gray;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;
}



nav{

    padding: 15px;

}

header nav ul li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    align-items: center;
    color: gray;
    position: relative;
    right: 15px;
    width: 19%;

}
header img{
    padding: 22px;
    float: left;
    padding:10px;
    max-width: 200px;
    max-height: 70px;
    position: relative;
    left: 218px;
    top: 8px;
}

main #mainPhoto img {
    clear: both;
    width: 80%;
    padding: 71px;
    position: relative;
    left: 157px;
}

#threePhoto{
    width: 81.5%;
    position: relative;
    left: 230px;
}

#threePhoto img{
/* width: 26.6%; */
width: 30%;
padding: 34px;
}

#threePhoto #img1 {
    padding-left: 0%;
}

#threePhoto #img2 {
    padding-right: 0%;
}
section{
    width: 80.15%;
    position: relative;
    left: 230px;
}

section img {
    float: left;
    padding: 0% 3% 3% 0%;
    width: 834px;
}

section p{
    text-align: justify;
    padding-right: 0%;
    display: inline-block;
    float: right;
    width: 919px;
    height: 585px;
    font-size: 14pt;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 18px;
    overflow: overlay;
}

section p::first-line{
    font-weight: normal;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;


}

footer{
    clear: both;
    width: 100%;
    height:20% ;
    background-color: grey;
    padding: 4%;
}
 input{
    width: 274px;
    padding: 22px;
    font-size: larger;
    color: white;
    background-color: black;
}